:root{
	--primary-color: #ff6b83;
	--main-font: "Inter", sans-serif;
	--bdr-color: #c8c8c8;
}

*{
	padding: 0;
	margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    color: #84858c !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
}

.f-wt-500{
	font-weight: 500;
}

.primary-color{
	color: var(--primary-color);
}

.mb-2 {
    margin-bottom: .5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none !important;
}

.pb-2 {
    padding-bottom: .5rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

h1{
	font-size: 20px;
	font-weight:600;
	color: var(--primary-color);
	text-align: center;
	padding-bottom: 20px;
	position: relative;
}

h6{
	font-size: 10px;
	font-weight:400;
}

h1:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 12px;
	height: 1px;
	width: 27%;
	background-color: var(--bdr-color);
}

h1:after{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 12px;
	height: 1px;
	width: 27%;
	background-color: var(--bdr-color);
}

.mb-0{
	margin-bottom: 0 !important;
}

.outer_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.inner_wrapper{
	width: 460px;
	height: auto;
	background-color: white;
	box-sizing: border-box;
	padding: 45px 55px;
	border:1px solid var(--bdr-color);
}

input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--bdr-color);
    border-radius: 50%;
    outline: none;
    background-color: white;
    cursor: pointer;
    background-clip: content-box;
    box-sizing: border-box;
}

input[type="radio"]:checked {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 2px;
}

select.custom-select{
	font-size: 11px;
	font-weight: 400;
	color: black;
	font-family: var(--main-font);
	border: 1px solid var(--bdr-color);
	padding: 5px;
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.d-block{
	display: block !important; 
}

.d-flex{
	display: flex !important;
}

.d-none{
	display: none !important; 
}

.w-100{
	width: 100%;
}

.align-right{
	text-align: right !important;
}

small{
	font-size: 80%;
}

.tag{
	position: absolute;
	right: 0;
	top: -8px;
	display: block;
}

.box{
	border:2px solid #c8c8c8;
	position: relative;
	padding: 20px;
	margin-bottom: 15px;
	position: relative;
}

.box.active{
	border-color: var(--primary-color);
}

.container{
	display: flex;
/*	justify-content: center;*/
}

.col-1{
	width: 10%;
	min-height: 35px;
	display:flex;
	align-items:center;
}

.col-2{
	width: 60%;
	min-height: 35px;
	display:flex;
	align-items:center;
	flex-wrap: wrap;
	justify-content: stretch;
}

.col-2 p.qty{
	font-size: 14px;
	font-weight: 600;
	width: 27%;
}

.col-2 p.disc{
	background-color: var(--primary-color);
	padding: 2px 5px;
	color: #fff;
	text-align: center;
	font-size: 12px;
}

.col-2 span.std_price{
	font-size: 12px;
	line-height: 20px;
}

.col-3{
	width: 30%;
	min-height: 35px;
	display:flex;
	align-items:center;
	flex-wrap: wrap;
}

.col-3 p.price{
	font-size: 15px;
	font-weight: 600;
}

.col-3 span.cut{
	font-size: 10px;
	text-decoration: line-through;
	color: rgba(0,0,0, 0.4);
}

.col-50{
	width: 50%;
	display: flex;
}

.show-hide{
	display: flex;
	align-items: center;
	width: 75%;
	flex-wrap: wrap;
}

/*.col-14{
	width: 14%;
	display: flex;
	align-items: center;
	min-height: 26px;
	padding-right: 8px;
	box-sizing: border-box;
}*/

.col-23{
	width: 23%;
	display: flex;
	align-items: center;
	min-height: 26px;
	padding-right: 8px;
	box-sizing: border-box;
}

.col-35{
	width: 35%;
	display: flex;
	align-items: center;
	min-height: 26px;
	padding-right: 8px;
	box-sizing: border-box;
}

.col-45{
	width: 45%;
	display: flex;
	align-items: center;
	min-height: 26px;
	padding-right: 8px;
	box-sizing: border-box;
}

.btn{
	background: var(--primary-color) url(../images/Icon.png) no-repeat 35% 14px;
	border-radius: 4px;
	border: 0;
	font-family: var(--main-font);
	font-size: 12px;
	text-align: center;
	color: white;
	font-weight: 500;
	display: block;
	cursor: pointer;
	height: 40px;
	margin-bottom: 5px;
	transition: all 500ms;
	scale: 1 1;
}

.btn:hover{
	scale: 0.9 0.9;
}

p.powered{
	color: rgba(0,0,0, 0.4);
	font-style: italic;
	font-size: 12px;
}

@media only screen and (max-width:992px){

	.outer_wrapper {
	    width: auto; 
	    height: auto;
	    display: block;
	}

	.inner_wrapper{
		padding: 25px;
		margin:0 auto;

	}

}

@media only screen and (max-width:479px){

	.inner_wrapper{
		width: auto;
		padding: 15px;
		border: 0;
	}

	.col-2{
		width: 55%;
	}

	.col-3{
		width: 35%;
	}

}
