*{
	padding: 0;
	margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #242424;
    font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    color: #84858c !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none !important;
}

.outer_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.inner_wrapper{
	width: 460px;
	height: 600px;
	background-color: red;
}